// ----- COLOURS
$ltTurq: #b7e4dc;
$midTurq: #66d4c0;
$turq: #80B5C4;
$coral: #fe8975;
$ltNavy: #393972;
$navy: #121234;

$bgLines: #e1f6f3;

// ----- FONTS
$titleFont: 'EB Garamond', serif;
$mainFont: 'Roboto', sans-serif;

// ----- NavMargin
$navMargLeft: 168px;
$navMargTop: 65px;